@model IEnumerable<Post>

@{ 

}

<div>
    <ul>
        @foreach(var post in Model)
            {
                <li>
                    <a href="#">@post.Title</a>
                </li>
            }
    </ul>
</div>