@model IEnumerable<Post>

@{ 
    ViewBag.Title = "Blog Webiste";
    ViewBag.Description = "A simple blog about my path to becoming a software developer.";
    ViewBag.Keywords = "blog programing language learning family life";
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>


<div class="container">
    @foreach(var post in Model)
    {
        var image_path = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" alt="photo" />
            <span class="title">
                @post.Title
            </span>
        </a>
     }
</div>