@model PostViewModel

@{

}
<link href="~/lib/Trumbowyg-master/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">

        <input asp-form="Id" type="hidden" />

        <div>
            <label>Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <textarea asp-for="Body" id="editor"></textarea>
        </div>
        <div>
            <label>Image</label>
            <input asp-for="Image" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>
@section scripts{
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
}

