/* COLORS
    264653
    2a9d8f
    e9c46a
    f4a261
    e76f51*/

a {
    color: #f4a261;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
        color: #e9c46a;
    }

body {
    background-color: #264653;
    margin: 0;
}

nav {
    background-color: #264653;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a{
        display: inline-block;
        padding: 15px;
    }

.main-img{
    position:relative;
    height: 500px;
    background-image: url('../Content/static/blog_bg.jpg');
    background-position: center;
    background-size: cover;

}

.title{
    position: absolute;
    color: #fff;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top:35%;
    text-shadow: 0 0 10px #000;
    text-transform: uppercase;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post{
    position: relative;
    display: flex;
    height: 400px;
    margin: 2rem 0;
    box-shadow: 0 0 5px 0 #000;
}
.post img{
    width: 100%;
    object-fit: cover;
}